extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner FanStats
    div.Message
      div.Title
        h3 FanStats
        h1 Get Fantasy Stats
      span.Details Access the FanStats Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Get Your Stats!